.sidebar {
    background: #141A3C;
    width: 240px;
    @apply h-screen
        hidden md:fixed md:flex flex-col top-0 left-0 h-full text-white transition-all duration-300 border-none;

    .brand {
        //background-image: url("../../public/images/logo.svg");
        width: 176px;
        height: 52px;
        @apply block;
    }

    ul {
        @apply flex flex-col;

        li {
            @apply mt-5 mb-5 pl-4 pr-4;

            a {
                @apply  relative flex flex-row items-center;

                .s-caption {
                    @apply text-blue-350 ml-2 text-xs font-bold tracking-wide truncate cursor-pointer;
                }
            }

            em {
                @apply inline-flex items-center justify-center px-1 py-0.5 text-white not-italic
                mr-2 text-xs font-bold leading-none red-yellow-gradient rounded-full absolute right-0;
            }

            i {
                background-repeat: no-repeat;
                background-position: center;
                width: 20px;
                height: 20px;
                @apply inline-flex justify-center items-center cursor-pointer;
            }


            .separator {
                height: 1px;
                background: #99ABCE;
            }
        }

        li.active, li:hover {
            .s-caption {
                @apply text-white;
            }
        }
    }

    .nav-footer {
        @apply items-center;

        li {
            @apply mt-0 mb-0 pl-0 pr-0 text-center items-center;

            a {
                font-size: 9px;
                @apply text-blue-350 uppercase font-bold;
            }
        }
    }
    .copyright {
        font-size: 9px;
        @apply block uppercase font-bold;
    }
}
