.dhx_second_scale_bar {
    border-bottom: 1px solid #e0e0e0 !important;
    font-size: 13px !important;
}
.dhx_cal_tab {
    font-size: 12px !important;
    font-weight: bold;
}

#dhx_minical_icon {
    left: 300px !important;
}
.dhx_cal_header {
    border-bottom: 1px solid #e0e0e0 !important;
}

.dhx_scale_holder, .dhx_scale_holder_now {
    background: url("./../images/databg.png");
}

.dhx_cal_tab.active {
    text-shadow: none !important;
}

.unit_tab {
    left: 16px !important;
}
.week_unit_tab {
    left: 103px !important;
}

//.dhx_scale_bar {
//    height: 38px !important;
//}

.modal-content-1 {
    width: 500px;
    background: #fff;
}

.scheduler-status {
    .dropdown {
        margin-left: -10px;
    }

    .square-dropdown {
        top: 30px;
    }

    .square-toggle {
        color: rgb(181, 188, 194);
        float:left;
        font-size: 14px;

        i {
            border: solid 1px #fff;
            border-radius: 3px;
            padding: 1px 2px;
        }

        &:after {
            border: none !important;
        }

        &:hover {
            i {
                border: solid 1px rgb(181, 188, 194);
            }
        }
    }

    .dropdown-menu {
        box-shadow: 0 1px 10px 0 rgba(0,0,0,.25);
        border:none;
        padding: 0.5rem 0 0 0;
        font-size: 11px;
        text-transform: uppercase;

        .separator {
            border-top: solid 1px rgb(181, 188, 194);
            padding-bottom: 5px;
            width: 100%;
            display: inline-block;
        }

        .selected-gray {
            //background: #f8f8f8;
            border-top: 1px solid #e4e4e4;
        }
    }
}
